@import '~reveal.js/css/reveal.css';
@import '~highlight.js/styles/color-brewer.css';

// Default mixins and settings -----------------
@import '~reveal.js/css/theme/template/mixins.scss';
@import '~reveal.js/css/theme/template/settings.scss';
// ---------------------------------------------

// Fonts
@font-face {
  font-family: 'Calibre';
  src: url("https://s3.amazonaws.com/rangle.io.static-assets/WebFonts/CalibreWeb-Regular.eot");
  src: url("https://s3.amazonaws.com/rangle.io.static-assets/WebFonts/CalibreWeb-Regular.eot?#iefix") format("embedded-opentype"),
  url("https://s3.amazonaws.com/rangle.io.static-assets/WebFonts/CalibreWeb-Regular.woff2") format("woff2"),
  url("https://s3.amazonaws.com/rangle.io.static-assets/WebFonts/CalibreWeb-Regular.woff") format("woff")
}
@font-face {
  font-family: 'Calibre';
  src: url("https://s3.amazonaws.com/rangle.io.static-assets/WebFonts/CalibreWeb-Light.eot");
  src: url("https://s3.amazonaws.com/rangle.io.static-assets/WebFonts/CalibreWeb-Light.eot?#iefix") format("embedded-opentype"),
  url("https://s3.amazonaws.com/rangle.io.static-assets/WebFonts/CalibreWeb-Light.woff2") format("woff2"),
  url("https://s3.amazonaws.com/rangle.io.static-assets/WebFonts/CalibreWeb-Light.woff") format("woff")
}

// Rangle colours
$purpleDark: #230E2D;
$ranglePurple: #422D51;
$rangleRed: #ee302f;
$rangleWhite: #FFFFFF;
$lightGrey: #F7F7F7;

// Background of the presentation
$backgroundColor: $rangleWhite;

// Primary/body text
$mainFont: 'Calibre', sans-serif;
$mainFontSize: 32px;
$mainColor: #fff;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: 'Calibre', sans-serif;
$headingColor: $rangleRed;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingTextShadow: none;
$headingFontWeight: normal;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 1.5em;
$heading2Size: 1.4em;
$heading3Size: 1em;
$heading4Size: 0.75em;
$heading5Size: 0.6em;


// Links and actions
$linkColor: lighten( $rangleRed, 20% );
$linkColorHover: lighten( $rangleRed, 40% );

// Text selection
$selectionBackgroundColor: $rangleRed;
$selectionColor: #fff;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
  background: $backgroundColor;
}

// Theme template ------------------------------
@import '~reveal.js/css/theme/template/theme.scss';
// ---------------------------------------------

// Overrides -----------------------------------
#rangle-io {
  background: url('../images/logo-rangleio-purple.svg') no-repeat;
  background-size: contain;
  height: 0.4em;
  left: 0 !important;
  position: absolute !important;
  right: 0 !important;
  text-indent: -99999em;
  top: 180px !important;

  &:before {
    display: none;
  }
}

body {
  p, ul, ol, table {
    color: $ranglePurple;
  }
}

.reveal {
  font-weight: lighter;

  ol, ul {
    width: 100%;
  }

  table {
    margin: 20px 0;
  }

  h1:after {
    background-color: $ranglePurple;
    content: '';
    display: block;
    height: 4px;
    margin-top: -200px;
    width: 18em;
  }

  h1 {
    color: $rangleRed;
    font-weight: bold;
    left: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
    position: absolute !important;
    right: 0 !important;
    top: 250px !important;
  }

  h5 {
    color: $ranglePurple;
    font-size: $heading4Size;
    margin-top: 0.5em;
  }

  h5 {
    color: $ranglePurple;
    font-size: $heading5Size;
    margin-top: 0.5em;
  }

  .slide-number {
    font-size: 1em;
  }

  .controls {
    bottom: 50px;
  }

  .slides {
    background: url('../images/logo-rangleio-purple.svg') top right no-repeat;
    background-size: 125px auto;
    margin-top: 60px;
    text-align: left;

    > section,
    > section > section {
      padding: 10px 0;
    }
  }

  // Code block styling
  .hljs {
    background: $lightGrey;
    margin: 20px auto;
    padding: 0.8em;
  }

  pre {
    box-shadow: none;
    font-size: 0.75em;
    width: auto;
    
    code {
      max-height: none;
    }
  }

  h2 code,
  p code,
  li code,
  table code {
    font-size: 0.8em;
    padding: 0 5px;
  }

  .progress span {
    background: $rangleRed;
  }
}

html.the-end .state-background {
   background-color: rgba(0,0,0, 0.8);
 }

.searchicon {
  display: none;
}

.searchinput {
  vertical-align: top;
    right: 45px;
    top: 30px;
    position: fixed;
}
