<!doctype html>

<html>
  <head>
    <script src="/ember-cli-live-reload.js" type="text/javascript"></script>
  </head>
  <body>
    <header>
      <h1>Rangle - Angular 2 Examples</h1>
    </header>
    <ol>
      <li><a href="./1.0-hello-world/index.html">Hello World!</a></li>
      <li><a href="./2.0-interpolation/index.html">Interpolation {}</a></li>
      <li><a href="./3.0-events/index.html">Events ()</a></li>
      <li>
        <ul>
          <li><a href="./4.1-ng-if/index.html">*ngIf</a></li>
          <li><a href="./4.2-ng-for/index.html">*ngFor</a></li>
          <li><a href="./4.3-state-has-no-place-in-components/index.html">State Has No Place In Components</a></li>
        </ul>
      </li>
      <li><a href="./5.0-external-files/index.html">External Files</a></li>
      <li><a href="./6.0-basic-component-summary/index.html">Basic Component Summary</a></li>
      <li><a href="./7.0-bindings/index.html">Bindings []</a></li>
      <li><a href="./8.0-inputs/index.html">Components With Inputs</a></li>
      <li><a href="./9.0-outputs/index.html">Components With Outputs</a></li>
      <li><a href="./10.0-two-way-binding/index.html">Two Way Bindings</a></li>
      <li>
        <ul>
          <li><a href="./11.1-pipes/index.html">Pipes</a></li>
          <li><a href="./11.2-pipe-arguments/index.html">Pipe Arguments</a></li>
          <li><a href="./11.3-custom-pipes/index.html">Custom Pipes</a></li>
          <li><a href="./11.4-async-pipe/index.html">The Async Pipe</a></li>
          <li><a href="./11.5-chaining-pipes/index.html">Chaining Pipes</a></li>
        </ul>
      </li>
      <li>
        <ul>
          <li><a href="./12.1-template-forms/index.html">Template Forms</a></li>
          <li><a href="./12.2-models-in-template-forms/index.html">Models In Template Forms</a></li>
          <li><a href="./12.3-two-way-models-in-template-forms/index.html">Two Way Models In Template Forms</a></li>
          <li><a href="./12.4-validating-template-forms/index.html">Validating Template Forms</a></li>
        </ul>
      </li>
      <li>
        <ul>
          <li><a href="./13.1-form-builder-forms/index.html">Form Builder</a></li>
          <li><a href="./13.2-form-builder-validation/index.html">Form Builder Validations</a></li>
          <li><a href="./13.3-custom-validators/index.html">Custom Validators</a></li>
        </ul>
      </li>
      <li><a href="./14.0-visual-form-cues/index.html">Visual Form Cues</a></li>
      <li>
        <ul>
          <li><a href="./15.1-routing/index.html">Router</a></li>
          <li><a href="./15.2-route-params/index.html">Route Params</a></li>
          <li><a href="./15.3-query-params/index.html">Query Params</a></li>
          <li><a href="./15.4-child-routes/index.html">Child Routes</a></li>
        </ul>
      </li>
    </ol>
  </body>
</html>
