<form [formGroup]="pizzaForm" (ngSubmit)="onSubmit()" novalidate>

  <!-- Cheese -->
  <label class="bold" for="cheese">Cheese</label>
  <select class="block col-12 mb1 field"
    [formControl]="pizzaForm.get('cheese')"
    [ngModel]="pizza.cheese"
    name="cheese">
    <option>Fior di Latte</option>
    <option>Mozzarella</option>
    <option>Provolone</option>
    <option>Parmesan</option>
    <option>Pecarino</option>
  </select>

  <!-- Sauce -->
  <label class="bold" for="sauce">Sauce</label>
  <select class="block col-12 mb1 field"
    [formControl]="pizzaForm.get('sauce')"
    [ngModel]="pizza.sauce"
    name="sauce">
    <option>Tomato</option>
    <option>White</option>
  </select>

  <!-- Topping -->
  <label class="bold" for="topping">Topping</label>
  <input class="block col-12 mb1 field"
    type="text"
    name="topping"
    [formControl]="pizzaForm.get('topping')"
    [ngModel]="pizza.topping" />

  <div class="bold center p2 mb2 white bg-red rounded"
    *ngIf="pizzaForm.get('topping').dirty && pizzaForm.hasError('acceptableTopping', 'topping')">
    Please provide an acceptable topping.
  </div>

  <!-- Name -->
  <label class="bold" for="name">Name</label>
  <input class="block col-12 mb1 field"
    type="text"
    name="name"
    [formControl]="pizzaForm.get('name')"
    [ngModel]="pizza.name" />

  <div class="bold center p2 mb2 white bg-yellow rounded"
    *ngIf="pizzaForm.get('name').dirty && pizzaForm.get('name').pending">
    Checking name availability...
  </div>

  <div class="bold center p2 mb2 white bg-red rounded"
    *ngIf="pizzaForm.get('name').dirty && pizzaForm.hasError('required', 'name')">
    A name is required.
  </div>
  <div class="bold center p2 mb2 white bg-red rounded"
    *ngIf="pizzaForm.get('name').dirty && pizzaForm.hasError('duplicateName', 'name')">
    This name is already taken.
  </div>

  <p>
    <button class="btn btn-primary"
      type="submit">
      Save
    </button>
  </p>
</form>
