@import '~reveal.js/css/reveal.css';
@import '~highlight.js/styles/tomorrow-night-blue.css';

// Default mixins and settings -----------------
@import '~reveal.js/css/theme/template/mixins.scss';
@import '~reveal.js/css/theme/template/settings.scss';
// ---------------------------------------------

// Fonts
@font-face {
  font-family: 'Calibre';
  src: url("https://s3.amazonaws.com/rangle.io.static-assets/WebFonts/CalibreWeb-Regular.eot");
  src: url("https://s3.amazonaws.com/rangle.io.static-assets/WebFonts/CalibreWeb-Regular.eot?#iefix") format("embedded-opentype"), 
  url("https://s3.amazonaws.com/rangle.io.static-assets/WebFonts/CalibreWeb-Regular.woff2") format("woff2"), 
  url("https://s3.amazonaws.com/rangle.io.static-assets/WebFonts/CalibreWeb-Regular.woff") format("woff")
}
@font-face {
  font-family: 'Calibre';
  src: url("https://s3.amazonaws.com/rangle.io.static-assets/WebFonts/CalibreWeb-Light.eot");
  src: url("https://s3.amazonaws.com/rangle.io.static-assets/WebFonts/CalibreWeb-Light.eot?#iefix") format("embedded-opentype"), 
  url("https://s3.amazonaws.com/rangle.io.static-assets/WebFonts/CalibreWeb-Light.woff2") format("woff2"), 
  url("https://s3.amazonaws.com/rangle.io.static-assets/WebFonts/CalibreWeb-Light.woff") format("woff")
}

// Rangle colours
$purpleDark: #230E2D;
$ranglePurple: #422D51;
$rangleRed: #ee302f;

// Background of the presentation
$backgroundColor: $ranglePurple;

// Primary/body text
$mainFont: 'Calibre', sans-serif;
$mainFontSize: 32px;
$mainColor: #fff;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: 'Calibre', sans-serif;
$headingColor: #fff;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingTextShadow: none;
$headingFontWeight: normal;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 3em;
$heading2Size: 1.8em;
$heading3Size: 1.55em;
$heading4Size: 1.00em;

// Links and actions
$linkColor: lighten( $rangleRed, 20% );
$linkColorHover: lighten( $rangleRed, 40% );

// Text selection
$selectionBackgroundColor: $rangleRed;
$selectionColor: #fff;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
  background: $backgroundColor;
}

// Theme template ------------------------------
@import '~reveal.js/css/theme/template/theme.scss';
// ---------------------------------------------
 
// Overrides -----------------------------------
#rangle-io {
  background: url('../content/images/logo-rangleio.svg') no-repeat;
  background-size: contain;
  height: 0.5em;
  text-indent: -9999em;
  margin-top: 0.5em;

  &:after {
    display: none;
  }
}

.reveal {
  font-weight: lighter;

  table {
    margin: 20px 0;
  }

  h1:after, h2:after {
    content: '';
    background-color: $rangleRed;
    display: block;
    height: 4px;
    width: 2em;
    margin: 0.25em 0;
  }

  .slides {
    text-align: left;
    background: url('../content/images/logo-rangleio.svg') top right no-repeat;
    background-size: 125px auto;

    > section,
    > section > section {
      padding: 10px 0;
    }
  }

  // Code block styling
  .hljs {
    background: $purpleDark;
    color: rgba(255,255,255,0.7);
    padding: 0.8em;
    margin: 20px auto;
    line-height: 1.2em;
  }

  pre {
    width: auto;
    font-size: 0.75em;

    code {
      max-height: none;
    }
  }

  h2 code,
  p code,
  li code {
    background-color: $purpleDark;
    padding: 0 5px;
    font-size: 0.8em;
  }

  .progress span {
    background: $rangleRed;
  }
}
