/* Additions to the print stylesheet */

@import url('~highlight.js/styles/github.css') only print;

@media print {
  .reveal .slides > section, .reveal .slides > section > section {
    padding: 0;
  }

  body, p, td, li, div,
  h1,h2,h3,h4,h5,h6 {
    font-family: 'Calibre', sans-serif !important;
  }

  .reveal pre,
  .reveal code,
  .reveal pre code,
  .reveal .hljs {
    background: #fafafa;
    color: #333;
    font-size: 0.7em;
  }

  #rangle-io {
    text-indent: 0;
    background-image: none;
  }
}
