/* Adapted from Moon theme for Reveal.js */

:root {
  --purpleDark: #230E2D;
  --ranglePurple: #422D51;
  --rangleRed: #ee302f;
  --lightRed: #F27173;
}

@font-face {
  font-family: 'Calibre';
  src: url("https://s3.amazonaws.com/rangle.io.static-assets/WebFonts/CalibreWeb-Regular.eot");
  src: url("https://s3.amazonaws.com/rangle.io.static-assets/WebFonts/CalibreWeb-Regular.eot?#iefix") format("embedded-opentype"), 
  url("https://s3.amazonaws.com/rangle.io.static-assets/WebFonts/CalibreWeb-Regular.woff2") format("woff2"), 
  url("https://s3.amazonaws.com/rangle.io.static-assets/WebFonts/CalibreWeb-Regular.woff") format("woff")
}
@font-face {
  font-family: 'Calibre';
  src: url("https://s3.amazonaws.com/rangle.io.static-assets/WebFonts/CalibreWeb-Light.eot");
  src: url("https://s3.amazonaws.com/rangle.io.static-assets/WebFonts/CalibreWeb-Light.eot?#iefix") format("embedded-opentype"), 
  url("https://s3.amazonaws.com/rangle.io.static-assets/WebFonts/CalibreWeb-Light.woff2") format("woff2"), 
  url("https://s3.amazonaws.com/rangle.io.static-assets/WebFonts/CalibreWeb-Light.woff") format("woff")
}

/*********************************************
 * GLOBAL
 *********************************************/

html {
  -webkit-font-smoothing: antialiased;
  font-size: 200%; /* 32px */
}

body {
  background-color: var(--ranglePurple);
}

.reveal {
  color: #fff;
  font-family: 'Calibre', sans-serif;
  font-weight: lighter;
}

.reveal .slides {
  background: url('../content/images/logo-rangleio.svg') top right no-repeat;
  background-size: 125px auto;
  text-align: left;
}

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit;
  padding: 0;
}

::selection {
  color: #fff;
  background: var(--rangleRed);
  text-shadow: none; 
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a,
.reveal a:visited {
  color: var(--lightRed);
  text-decoration: none;
}

.reveal a:hover,
.reveal a:focus,
.reveal a:active {
  border-bottom: 1px solid var(--lightRed);
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  line-height: 1.2;
  letter-spacing: normal;
  word-wrap: break-word;
}

.reveal h1::after,
.reveal h2::after {
  content: '';
  background-color: var(--rangleRed);
  display: block;
  height: 5px;
  width: 2em;
  margin: 0.25em 0;
}

/* Styles logo on introduction slide */
#rangle-io {
  background: url('../content/images/logo-rangleio.svg') no-repeat;
  background-size: contain;
  height: 0.5em;
  text-indent: -9999em;
  margin-top: 0.5em;
}

#rangle-io::after {
  display: none;
}

.reveal h1 {
  font-size: 3em;
}

.reveal h2 {
  font-size: 1.8em;
}

.reveal h3 {
  font-size: 1.44em;
}

.reveal h4 {
  font-size: 1em;
}

/*********************************************
 * CODE
 *********************************************/
.reveal .hljs {
  background: var(--purpleDark);
  color: rgba(255,255,255,0.7);
  display: block;
  padding: 1em;
  margin: 20px auto;
  text-align: left;
  font-family: monospace;
  line-height: 1.2em;
  font-size: 0.8em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

.reveal pre code {
  max-height: 700px;
}

.reveal table {
  margin: 20px 0;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); 
}

.reveal .progress span {
  background: var(--rangleRed);
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); 
}

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; 
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%;
}

.reveal strong,
.reveal b {
  font-weight: bold; 
}

.reveal em {
  font-style: italic; 
}

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; 
}

.reveal ol {
  list-style-type: decimal; 
}

.reveal ul {
  list-style-type: disc; 
}

.reveal ul ul {
  list-style-type: square; 
}

.reveal ul ul ul {
  list-style-type: circle; 
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; 
}

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }
