.reveal .slides {
  text-align: left;
}

.reveal .slides > section {
  padding: 0;
}

.reveal h2 {
  font-size: 1.8em;
}

.reveal pre {
  width: 100%;
  font-size: 0.8em;
}

.reveal pre code {
  max-height: 700px;
}

.reveal table {
  margin: 20px 0;
}

.reveal p code, .reveal li code {
  color: #eee8d5
}