<form [formGroup]="contactForm" (ngSubmit)="addPerson()">
  <label for="firstName">First Name:</label>
  <input type="text" name="firstName" id="firstName" [formControl]="firstName"/>
  <br>

  <label for="lastName">Last Name:</label>
  <input type="lastName" name="lastName" id="lastName" [formControl]="lastName"/>
  <br>

  <label for="email">Email:</label>
  <input type="email" name="email" id="email" [formControl]="email"/>
  <br>

  <button type="submit">Add Person</button>
</form>
<hr>
<ul>
  <li *ngFor="let person of people" class="contact-item">
    {{person.firstName}} {{person.lastName}}: {{person.email}}
  </li>
</ul>
