:host {
  display: block;
  padding: 2rem;
}

ul {
  padding: 10px;
}

li.contact-item {
  list-style: none;
  padding: 10px 15px;
  background: #0288d1;
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 10px;
}

div.row {
  margin-bottom: 10px;
}

.errors {
  color: red;
}
