<form [formGroup]="contactForm" (ngSubmit)="addPerson()">

  <div class="row">
    <label for="firstName">First Name:</label>
    <input type="text" name="firstName" id="firstName" [formControl]="firstName"/>
    <ul class="errors"
      [hidden]="firstName.valid || firstName.untouched">
      <li class="error" [hidden]="!firstName.hasError('required')">
        The first name is required
      </li>
      <li class="error" [hidden]="!firstName.hasError('minlength')">
        The first name must be at least 2 character long
      </li>
    </ul>
  </div>

  <div class="row">
    <label for="lastName">Last Name:</label>
    <input type="text" name="lastName" id="lastName" [formControl]="lastName"/>
    <ul class="errors"
      [hidden]="lastName.valid || lastName.untouched">
      <li class="error" [hidden]="!lastName.hasError('required')">
        The last name is required
      </li>
      <li class="error" [hidden]="!lastName.hasError('minlength')">
        The last name must be at least 2 character long
      </li>
    </ul>
  </div>

  <button type="submit" [disabled]="!contactForm.valid">Add Person</button>
</form>
<hr>
<ul>
  <li *ngFor="let contact of contacts" class="contact-item">
    {{contact.firstName}} {{contact.lastName}}
  </li>
</ul>
