<form [formGroup]="lastNameForm">
  <div class="row">
    <label for="lastName">Last Name:</label>
    <input type="lastName" name="lastName" id="lastName" [formControl]="lastName" />
    <ul class="errors" [hidden]="lastName.valid || lastName.untouched">
      <li class="error" [hidden]="!lastName.hasError('required')">
        The last name is required
      </li>
      <li class="error" [hidden]="!lastName.hasError('minlength')">
        The last name must be at least 2 character long
      </li>
    </ul>
  </div>
</form>