:host {
  display: block;
  border: 1px solid black;
  margin: 1rem 0;
  padding: 1rem;
}

.title {
  margin-top: 0;
  font-size: 1.2rem; 
}

label {
  font-weight: bold;
}

.price, .in-stock {
  display: inline-block;
}

.in-stock {
  margin-left: 1rem; 
}