<form #myForm="ngForm" (ngSubmit)="getForm(myForm)" autocomplete="off">

  <div class="row">
    <label>
      First Name:
      <input type="text" name="firstName" ngModel
        #firstName="ngModel" required />
    </label>

    <ul class="errors"
      [class.hidden]="firstName.valid || firstName.untouched">
      <li class="error" [hidden]="!firstName.hasError('required')">
        The first name is required
      </li>
    </ul>
  </div>
  
  <div class="row">
    <label>
      Last Name:
      <input type="text" name="lastName" ngModel 
        #lastName="ngModel" required />
    </label>

    <ul class="errors"
      [hidden]="lastName.valid || lastName.untouched">
      <li class="error" [hidden]="!lastName.hasError('required')">
        The last name is required
      </li>
    </ul>
  </div>

  <div class="row">
    Gender:

    <ng-container *ngFor="let genderOption of options.genders; let isLast = last">

      <label>
        {{ genderOption }}:
        <input type="radio" name="gender" [value]="genderOption"
          ngModel #gender="ngModel" required />
      </label>
    
      <ul *ngIf="isLast" class="errors"
        [hidden]="gender.valid || gender.untouched">
        <li class="error" [hidden]="!gender.hasError('required')">
          The gender is required
        </li>
      </ul>

    </ng-container>

  </div>

  <div class="row">
    <label>
      Country:
      <select name="country" ngModel #country="ngModel" required>
        <option value="" selected disabled>-- Select a Country --</option>
        <option 
          *ngFor="let country of options.countries" 
          [value]="country">
          {{ country }}
        </option>
      </select>
    </label>

    <ul class="errors"
      [hidden]="country.valid || country.untouched">
      <li class="error" [hidden]="!country.hasError('required')">
        The country is required
      </li>
    </ul>
  </div>

  <button type="submit" [disabled]="!myForm.valid">Submit</button>
</form>

<p *ngIf="person">{{ person | json }}</p>

<button *ngIf="person" (click)="hideValues()">Hide Values</button>